{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>P4 Drawing</title>
  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'draw/styles.css' %}" />
  <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,600&display=swap" rel="stylesheet"> -->

  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,600&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Catamaran:wght@700&amp;family=DM+Serif+Text&amp;display=swap" rel="stylesheet"> -->
</head>
<body>

    <img src= "{% static 'draw/images/leftarrow.png' %}" style = "margin-top: 70px; margin-left: 60px; height: 80px; width: 80px;">

    
    <div class = "container">
        <div class="flex-col">
            <div class = "row text-center"> 
                <img src= "{% static 'draw/images/sprout.png' %}" style = "margin-top: 60px; margin-left: 50px; height: 600px; width: 600px;">
            </div>
            <div class = "row text-center">
                <div class = "col-12 text plant-name">JADE</div>
            </div>
            <div class = "row text-center plant-owners">
                <div class = "col-12 text">SAVANNA AND ELLE'S PLANT</div>
            </div>
            
            <div class = "row text-center info-text">
                <div class = "col-12 text">Date Created: July 14, 2021</div>
            </div>
            <div class = "row text-center info-text">
                <div class = "col-12 text">Last Watered: One week ago</div>
            </div>

            <div class="row">
                <!-- <div id="bucket-list" class="cover closed"> -->
                    <div id="bucket-list" class="open">
                    <div class="container" onClick="toggleBucketList()">
                        <p class="text text-center"> Bucket List </p>
                    </div>
                    <!-- <div id= "scrollable" class="invisible"> -->
                    <div id= "scrollable">
                        <div class="list-item-add">
                            <img class="fake-svg" src= "{% static 'draw/images/plus-square.svg' %}" onClick="captureListItem()">
                            <!-- <form> -->
                                <input id="enter-item" type="text" placeholder="Let's do somehing new!">
                            <!-- </form> -->
                        </div>
                        <div id="carousel">
                            <div id="carousel-controls">
                                <div id="div-previous" class="hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                    </svg>
                                </div>
                                <div id="div-next">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                </div>
                            </div>
                            <div id="carousel-row">
                                <div class="carousel-card">
                                    <!-- img -->
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cup-fill" viewBox="0 0 16 16">
                                        <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8z"/>
                                    </svg> -->
                                    <img id="cafe" src= "{% static 'draw/images/cafe-unsplash.jpg' %}" onClick="carouselSuggest(this.id)">
                                    <p>Berkeley Express</p>
                                </div>
                                <div class="carousel-card">
                                    <!-- img -->
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
                                        <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
                                    </svg> -->
                                    <img id="biking" src= "{% static 'draw/images/bike-unsplash.jpg' %}" onClick="carouselSuggest(this.id)">
                                    <p>Biking</p>
                                </div>
                                <div class="carousel-card">
                                    <!-- img -->
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                                    </svg> -->
                                    <img id="grocery" src= "{% static 'draw/images/grocery-unsplash.jpg' %}" onClick="carouselSuggest(this.id)">
                                    <p>Grocery Shopping</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <img class="fake-svg" src= "{% static 'draw/images/square.svg' %}">
                            <p>BAMFA</p>
                        </div>
                        <div class="list-item">
                            <img class="fake-svg" src= "{% static 'draw/images/square.svg' %}">
                            <p>Round 1</p>
                        </div>
                        <div class="list-item">
                            <img class="fake-svg" src= "{% static 'draw/images/square.svg' %}">
                            <p>Millet Crepe</p>
                        </div>
                        <div class="list-item">
                            <img class="fake-svg" src= "{% static 'draw/images/square.svg' %}">
                            <p>Taco Bell</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  <script type="text/javascript" src="{% static 'draw/script.js' %}"></script>
</body>
</html>
 
 

