body {
    background-color: #ffd7b6;
}


.text{
font-family: 'Inter', sans-serif;
}

.title {
font-family: 'Playfair Display', serif;
}

/* Citation: https://www.w3schools.com/css/css3_borders.asp */


.info-text {
    margin-top: 40px; 
    background-color: #89725b;
    color: white; 
    font-size: 40px; 
    font-weight: 500;
    border-radius: 30px;
    padding: 10px;
}