body {
    background-color: #ffd7b6;
}


.text{
font-family: 'Inter', sans-serif;
}

.title {
font-family: 'Playfair Display', serif;
}

/* Citation: https://www.w3schools.com/css/css3_borders.asp */
.rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }